*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;

}

body{
    background-image: url(imagenes/imagen\ carta\ 8.png);
    background-repeat: no-repeat;
    background-position: 50% 1%;
}


.cuerpo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-self: center;
    margin-top: 15%;
    text-align: center;
}

.cuerpo p{
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cuerpo h1{
    font-size: 50px;
}

.cuerpo button{
    padding: 10px;
    align-self: center;
    width: 170px;
    background-color: black;
    color: white;
    border-radius: 30px;
}
