*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}
.cuerpo{
    display: flex;
    width: auto;
    gap: 60px;
}

.texto{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    color: #252525;
    gap: 40px;
}

.texto h1{
    font-size: 70px;
}

.texto p{
    font-size: 20px;
}

.texto button{
    width: 125px;
    padding: 15px;
    background-color: #252525;
    color: white;
    border-radius: 25px;
    border-style: none;
    font-size: 20px;
}

.imagen{
    padding-bottom: 30px;
}

.lista{
    display: flex;
    padding: 40px;
    width: 57%;
    justify-content: space-around;
    background-color: #252525;
    border-radius: 35px;
    
}

.contenido-lista{
    display: flex;
    flex-direction: column;
    color: white;
}

.contenido-lista h1{
    padding-top: 20px;
    padding-bottom: 20px;
    filter: opacity(80%);
}

.contenido-lista p{
    filter: opacity(80%);
    padding-bottom: 10px;
}

.contenido-lista i{
    filter: opacity(80%);
}

