body {
    font-family: sans-serif;
    background-color: #eee;
    margin: 0;
    padding: 40px;
  }
  
  .contenedor-prototipos {
    display: flex;
    gap: 40px;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .prototipo {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    color: black;
    transition: 0.2s ease;
    width: 250px;
  }
  
  .prototipo:hover {
    transform: scale(1.05);
  }
  
  .prototipo img {
    width: 100%;
    border-radius: 6px;
    margin-bottom: 10px;
    border: 1px solid #3a3a3a;
  }
  
  .prototipo p {
    font-weight: bold;
    font-size: 15px
  }