*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: url(imagenes/Imagen\ carta\ 12.png);
    background-repeat: no-repeat;
    background-position: 60%;
    
  
}

.cuerpo{
    
}

.cuadrados{
    display: flex;
}

.cuadrado1{
    width: 16px;
    height: 16px;
    background-color: #FFFF67;
}

.cuadrado2{
    width: 16px;
    height: 16px;
    background-color: #3FFFFF;
}

.cuadrado3{
    width: 16px;
    height: 16px;
    background-color: #52DC4B;
}

.cuadrado4{
    width: 16px;
    height: 16px;
    background-color: #FF6E3D;
}

.cuadrado5{
    width: 16px;
    height: 16px;
    background-color: #3D45FF;
}

.caja{
    display: flex;
    flex-direction: column;
    margin-top: 200px;
    margin-left: 40px;
    background-color: #09212C;
    width: 30%;
    padding: 20px;
    border-radius: 20px;
    filter: opacity(80%);
    color: white;
}

.caja h1{
    padding-top: 20px;
    font-size: 60px;
}

.caja p{
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 20px;
}

.caja button{
    width: 60px;
    padding: 22px 44px;
    background-color: #63E1E1;
    border-radius: 36px;
    justify-content: center;
    width: 182px;
    border-style: none;
    font-size: 20px;
}

.lista{
    margin-top: 170px;
    margin-left: 40px;
    display: flex;
    border: solid 1px;
    width: 80%;
    justify-content: space-around;
    border-radius: 20px;
    padding: 30px;
    background-color: #09212C;
    filter: opacity(80%);
    border-color: white;
    color: white;
}